extends base

block vars
  - var pageClass = "home"

block viewport
  .pycon
    img.pycon-logo(
      alt="PyCon IL",
      src='/'+year+"/static/images/pycon-il-logo-new.png",
      onerror="this.onerror = null; this.src = '/2015/static/images/pycon-il-logo-new.png'"
    )
    
    h1
      | PyCon Israel
      span.year= year

    .pycon-info
      p.pycon-location Tel Aviv, Israel
      p.pycon-date May 2-3

  .claim
    .container
      p.
        The very first #[strong PyCon] in #[strong Israel]. Join us
        for a 2-day event with talks, sprints and workshops about Python.
          
  .container
    .program
      .program-item
        h2 Become a Speaker
        p.
          Interested in giving a talk at the first Israeli PyCon?
          #[a(href="http://goo.gl/forms/iEBqCcqFtI") Submit a talk proposal]!
        p. 
          If you have any questions, feel free to contact us directly at 
          #[a(href="mailto:cfp@pycon.org.il") cfp@pycon.org.il]
        p. 
          The deadline for submitting a proposal is April 2nd, 2016.

        //- img(src=pageUrl("/static/images/venue/ayalon_mall.jpg") height=200)
        //- img(src=pageUrl("/static/images/venue/yes_logo.png") height=200)
        //- p.
          //- #[strong One] day, #[strong two] parallel tracks, #[strong two] keynotes
          //- and #[strong ten] awesome talks. Community, web, hardware, science, devops and more.

      .program-item
        h2 Location
        //- .date Saturday 14th
        p.
          The conference will take place in the Ayalon Mall, at the Yes Planet 
          cinema complex.
        .venue
          i.fa.fa-map-marker
          span.
            #[a(href="https://goo.gl/maps/qvZwf6Ju3Wq") Yes Planet, Ayalon Mall, Ramat Gan]

    .registration
      h2 Registration
      p.lead.
        Tickets will go on sale soon! Follow us on #[a(href="https://twitter.com/pyconil") Twitter] to stay updated.

    .djangogirls
      h2 Django Girls
      p.lead.
        Join the very first #[a(href="https://djangogirls.org/telavivjaffa") Django Girls Tel Aviv-Jaffa] workshop on May 1st!

    .sponsors
      h2 Sponsors
      p.lead. 
        Would you like to support PyCon Israel? #[a(href="mailto:info@pycon.org.il") Send us an email] and join us as a sponsor!

      .diamond
        h3 Diamond sponsors
         .sponsor
           a(href="https://www.redhat.com/en/global/israel ")
             img(src=pageUrl("static/images/sponsors/redhat_resized.png"))

      .gold
        h3 Gold sponsors
        .sponsor
          a.sponsor-psf(href="http://www.dropbox.com")
            img(src=pageUrl("static/images/sponsors/xtremio.png"))
        //- .sponsor
          //- a.sponsor-twisto(href="https://www.twisto.cz")
            //- img(src=pageUrl("/static/images/sponsors/twisto.png"))

      .silver
        h3 Silver sponsors
        .sponsor
          a.sponsor-imper(href="http://www.sentinelone.com")
            img(src=pageUrl("static/images/sponsors/sentinel_one.png"))

        .sponsor
          a.sponsor-psf(href="http://www.dropbox.com")
            img(src=pageUrl("static/images/sponsors/dropbox.png"))

        .sponsor
          a.sponsor-psf(href="http://weare.cisco.com/")
            img(src=pageUrl("static/images/sponsors/cisco.png"))

      .bronze
        h3 Bronze sponsors
        .sponsor
          a.sponsor-imper(href="https://www.hpe.com/il/en/home.html")
            img(src=pageUrl("static/images/sponsors/hpe.png"))

