extends base

block vars
  - var pageClass = "home"

block viewport
  .pycon
    img.pycon-logo(
      alt="PyCon IL",
      src='/'+year+"/static/images/python-logo-highres.png",
      onerror="this.onerror = null; this.src = '/2015/static/images/pycon-cz-logo.png'"
    )
    
    h1
      | PyCon Israel
      span.year= year

    .pycon-info
      p.pycon-location Tel Aviv, Israel
      p.pycon-date May 2-3

  .claim
    .container
      p.
        The very first #[strong PyCon] in #[strong Israel]. Join us
        for a 2-day event with talks, sprints and workshops about Python.
          
  .container
    .program
      .program-item
        h2 Location
        //- .date Saturday 14th
        p.
          The conference will take place in the Ayalon Mall, at the Yes Planet 
          cinema complex.
        .venue
          i.fa.fa-map-marker
          span.
            #[a(href="https://goo.gl/maps/qvZwf6Ju3Wq") Yes Planet, Ayalon Mall, Ramat Gan]

        //- img(src=pageUrl("/static/images/venue/ayalon_mall.jpg") height=200)
        //- img(src=pageUrl("/static/images/venue/yes_logo.png") height=200)
        //- p.
          //- #[strong One] day, #[strong two] parallel tracks, #[strong two] keynotes
          //- and #[strong ten] awesome talks. Community, web, hardware, science, devops and more.

      .program-item
        h2 Become a Speaker
        p.
          Interested in giving a talk at the first Israeli PyCon?
          #[a(href="http://goo.gl/forms/sLLFy0Zzsc") Submit a talk proposal]!
        p. 
          The deadline for submitting a proposal is March 30th.

  .registration
    h2 Registration
    p.lead.
      Tickets will go on sale soon! Follow us on #[a(href="https://twitter.com/pyconil") Twitter] to stay updated.

  .djangogirls
    h2 Django Girls
    p.lead.
      Join the very first #[a(href="https://djangogirls.org/telavivjaffa") Django Girls Tel Aviv-Jaffa] workshop on May 1st!

  .sponsors
    h2 Sponsors
    p.lead. 
      Would you like to support PyCon Israel? #[a(href="mailto:info@pycon.org.il") Send us an email] and join us as a sponsor!
//- 
   .platinum
       h3 Platinum sponsor
         .sponsor
           a.sponsor-skypicker(href="https://skypicker.com")
             img(src=pageUrl("/static/images/sponsors/skypicker.png"))

      .gold
        h3 Gold sponsors
        .sponsor
          a.sponsor-psf(href="https://www.python.org/psf/")
            img(src=pageUrl("/static/images/sponsors/psf.png"))
        .sponsor
          a.sponsor-twisto(href="https://www.twisto.cz")
            img(src=pageUrl("/static/images/sponsors/twisto.png"))

      .silver
        h3 Silver sponsors
        .sponsor
          a.sponsor-imper(href="https://imper.cz")
            img(src=pageUrl("/static/images/sponsors/imper.png"))
        .sponsor
          a.sponsor-pycharm(href="https://www.jetbrains.com/pycharm/")
            img(src=pageUrl("/static/images/sponsors/pycharm.png"))
        .sponsor
          a.sponsor-inuits(href="https://inuits.eu")
            img(src=pageUrl("/static/images/sponsors/inuits.png"))
      //-   
      //- a.alone.sponsor-placeholder(href=pageUrl("about/sponsorship.html")).
      //-   Become our partner!

      .djangogirls
        h3 DjangoGirls workshop sponsor
        .sponsor
          a.sponsor-redhat(href="http://www.redhat.com/en/global/czech-republic")
            img(src=pageUrl("/static/images/sponsors/redhat.png"))
      //- Become our partner!
